#tab{
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
        "card1 card2 card3 card3"
        "card1 card2 card4 card4"
    ;
    position: relative;
}
.card{
    border-radius: 20px;
    overflow: hidden;
}
.card picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:20;
    position: relative;
}
.card picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card .card-body{
    display: none;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    position: absolute;
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 10;
}
.card6{
    position: absolute;
    height: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    overflow: hidden;
    z-index: 10;

}
.card:focus-visible,
.card.active{
    grid-area: unset;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
    transform-origin: var(--origin-x, 50%) var(--origin-y, 50%);
    z-index: 50;
    transform: unset;
    animation: flow 2s linear;
}

.card5:focus-visible,
.card5.active,
.card6:focus-visible,
.card6.active{
    border-radius: 20px;
}
@keyframes flow {
    0%{
        width: 0;
        height: 0;
        transform: scaleX(0) scaleY(0);
    }
    100%{
        width: 100%;
        height: 100%;
        transform: scaleX(1) scaleY(1);
    }
}