* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgb(0, 88, 160);
  --color1-hover: rgb(0, 117, 212);
}

body {
  height: auto;
  width: 100%;
  max-width: 100vw;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}