.card-container{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: scroll;
    padding: 0 50%;
    cursor: grab;
    user-select: none;
}
.card-container::-webkit-scrollbar{
    /* display: none; */
}
.card-container .card{
    height: 300px;
    min-width: 50px;
    width: 50px;

    position: relative;

    border-radius: 100px;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}
.card-container .card .card-back{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in;
    user-select: none;
}
.card-container .card .card-icon{
    position: absolute;
    width: 80%;
    aspect-ratio: 1;

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    user-select: none;
}
.card-container .card .card-title{
    position: absolute;
    user-select: none;
    opacity: 0;
    transition: all 0.7s linear;

}
.card-container .card .card-text{
    position: absolute;
    user-select: none;
    opacity: 0;
    transition: all 0.7s linear;
}
.card-container .card:hover{
    transform: scale(1.1);
}
.card-container .card.active{
    min-width: 340px;
    width: 340px;
    border-radius: 20px;
    background-color: rgba(47, 47, 47, 0.235);
}
.card-container .card.active  .card-icon{
    width: 10%;
} 
.card-container .card.active  .card-title{
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 1.5rem;
    z-index: 5;
    top: 10%;
    left: 10%;
} 
.card-container .card.active  .card-text{
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 0.7rem;
    z-index: 5;
    top: 30%;
    left: 10%;
} 