#main_tab_container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px 0;
    overflow: visible;
    /* filter: url(#drip); */
}

.main_tab {
    display: none;
}

.main_tab_label {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    color: white;
    transition: all 0.3s ease-in;
}

.main_tab_label.active {
    transition-delay: 0.3s;
    transition: all 0.3s ease-in;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    transform: scale(1.1);
    background-color: salmon;
    color: wheat;
}

.main_tab_label::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    transition: background-color 0.3s ease-in;

}

.main_tab_label.active::before {
    content: "";
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    pointer-events: none;
    filter: blur(5px);
    z-index: -5;
}

.main_tab_label::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    transition: background-color 0.3s ease-in;

}

.main_tab_label.active::after {
    content: "";
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(170, 72, 72);
    pointer-events: none;
    z-index: -5;
}