#root{
  height: 100%;
  width: 100%;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
picture{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  padding: clamp(20px, 10vw, 160px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .box{
  max-width: 1400px;
  width: 100%;
}
.container .title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.box{

}
h1{

}
h2{

}
h3{
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 1.9rem);
}
h4{
  font-weight: 500;
  font-size: 1rem;
}
/* *::before{
  content:"";
}
*::after{
  content:"";
} */
