* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    width: 100%;
    background-color: black;
    color: white;
}

main {
    width: 100%;
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
}

.p-20 {
    padding: 20px;
}

.d-flex {
    display: flex;
}

.load_box {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
}

.load_box .load {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    animation: loading 2s linear infinite;
    z-index: 10000;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}