.card {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.card .card-body {
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
}

.card .card-title {
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    color: white;
    padding: 5px 10px;
    letter-spacing: 5px;
}

.card .card-text {
    display: none;
    transition: all 0.3s ease-in-out;
    font-weight: lighter;
    color: white;
}

.card:hover .card-body {
    background-color: rgba(66, 66, 66, 0.644);
}

.card:hover .card img {
    object-position: calc(50% + 20px) center;
}

.card:hover .card-title {
    display: block;
    transform: translate(0, -70px);
    text-shadow: 2px 2px 5px white
}

.card:hover .card-text {
    display: block;
    transform: translate(0, -40px);
}

.card-hover {
    position: relative;
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.card-hover::after {
    content: "";
    height: 80%;
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#ffd75288, #fffb1788, rgba(255, 255, 50, 0.582));
    animation: hover 3s linear;
    opacity: 0;
    z-index: 500;
    transform: rotate(40deg);
    filter: blur(50px);
}

@keyframes hover {
    0% {
        left: -50%;
        opacity: 0;
    }

    20% {
        left: 20%;
        opacity: 1;
    }

    30% {
        left: 70%;
        opacity: 1;
    }

    100% {
        left: 180%;
        opacity: 0;
    }
}