#map {
    width: 100%;
    max-width: 1100px;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#map .map-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

#map .map-container>div {
    position: relative;
}

#map .map-container>div img {
    width: 100%;
}

#map .map-container .point {
    height: 20px;
    width: 20px;
    /* background-color: red; */
    border: 5px solid red;
    border-radius: 50%;
    position: absolute;
}

#map .map-container .point-hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#map .link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map .link-container li a {
    text-decoration: none;
    color: var(--color1);
}

#map .link-container li .link-hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    color: var(--color1-hover);
}

#map .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 550px) {
    #map {
        padding: 20px 10px;
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 20px;
    }

    #map .link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 551px) and (max-width: 840px) {
    #map {
        padding: 20px 40px;
        width: 100%;
        max-width: 1100px;
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    #map .link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 841px) and (max-width: 900px) {
    #map {
        padding: 20px 40px;
        width: 100%;
        max-width: 1100px;
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
    #map {
        padding: 20px 40px;
        width: 100%;
        max-width: 1100px;
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
    }
}