.map-container {
    width: 100%;
    height: auto;
    position: relative;
}

.map-point {
    height: 25px;
    width: 80px;
    background-color: #00ccffc4;
    color: rgb(59, 59, 59);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    text-align: center;
}

.site-transition {
    transition: all 0.3s ease-in-out;
}


.map {
    width: 100%;
    box-shadow: 5px 5px 18px 4px rgba(36, 156, 255, 0.945);
}
@keyframes flowBackground {
    0% {
        background-position: 0% 0%; /* 從最左邊開始 */
    }
    50% {
        background-position: 100% 0%; /* 移動到最右邊 */
    }
    100% {
        background-position: 0% 0%; /* 回到最左邊，實現循環流動 */
    }
}